#appContainer {
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  width: 30em;
  min-height: 40em;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.323);
  box-sizing: border-box;
}

#appContainer form {
  display: flex;
  flex-direction: column;
}

#appContainer hr {
  width: 100%;
  margin: 1em 0;
}

#comentario {
  margin: 1em 0 0;
}

#email {
  margin-bottom: 0.6em;
}
#submit {
  margin: 1em 0 0;
  padding: 0.5em;
  cursor: pointer;
}

@media (max-width: 426px) {
  #appContainer {
    width: 90%;
  }
}

@media (max-width: 550px) {
  #appContainer {
    width: 90%;
  }
}